.App {
  margin: 2em
}

form {
  margin: 1em 0em;
}

form div {
  margin: 0.5em 0em;
}

table {
  border-collapse: collapse;
  margin: 1em 0em;
}

table thead {
  background-color: blue;
  color: white;
}

table thead th:nth-child(1) {
  min-width: 20em;
}

table thead th {
  min-width: 5em;
}

table td, table th {
  border: solid 1px black;
  padding: 0.5em
}
